*.FCBak
models/custom_parts/*.FCStd
models/custom_parts/*/*.FCStd

models/custom_parts/*.FCBak
models/custom_parts/*/*.FCBak

software/Marlin-2.1.2.5/*
!software/Marlin-2.1.2.5/Marlin/

software/Marlin-2.1.2.5/Marlin/*
!software/Marlin-2.1.2.5/Marlin/Configuration.h*
!software/Marlin-2.1.2.5/Marlin/Configuration_adv.h